*, *::before, *::after {
	box-sizing: border-box;
}

body {
  font-family: "Courier";
  margin: 0;
}

h1, h3 {
	margin-left: 10px;
}

.carousel {
	width: 100%;
	height: 100vh;
	position: relative;
}

.carousel > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: opacity 200ms ease;
	transition-delay: 200ms;
}

.slide[data-active] {
	opacity: 1;
	z-index: 1;
	transition-delay: 0ms;
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Carousel */

.caro-label {
	position: absolute;
	z-index: 2;
	font-size: 4rem;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.caro-label > span {
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
	padding: 20px 40px;
	border-radius: 20px;
}

.caro-label > span > a {
	font-size: 3rem;
	text-decoration: none;
	background: rgba(40, 97, 222, 0.7);
	border-radius: 10px;
	padding: 7.5px 20px;
	transition: background 200ms ease;
}

.caro-label > span > a:hover {
	background: rgba(40, 97, 222, 0.55);
}

.caro-btn {
	position: absolute;
	z-index: 3;
	background: none;
	border: none;
	font-size: 4rem;
	top: 50%;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	border-radius: .25rem;
	padding: 0 .5rem;
	padding-bottom: 15px;
	background-color: rgba(0, 0, 0, 0.1);
}

.caro-btn:hover, .caro-btn:focus {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}

.caro-btn:focus {
	outline: 1px solid black;
}

.caro-btn.prev {
	left: 1rem;
}

.caro-btn.next {
	right: 1rem;
}

/* Livelibre Site */

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav h1 {
	margin-right: auto;
}

.section-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	grid-gap: 9px;
}